@import '@radix-ui/themes/styles.css';

a {
    text-decoration: none;
    color: inherit;
}

div:has(> .tiptap) {
    background-color: var(--gray-a2);
    border: 1px solid var(--gray-a3);
    border-radius: var(--radius-3);
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tiptap {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}

.tiptap:focus {
    outline: none;
}

blockquote {
    border-left: 2px solid var(--gray-a4);
    margin-left: 0;
    padding-left: var(--space-4);
    color: var(--gray-11)
}