@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.navbar {
    background-color: var(--color-primary);
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar h2 {
    margin: 0;
    font-family: Raleway, Cantarell, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.profileImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

.authPopup {
    display: none;
    position: absolute;
    right: 15px;
    top: 56px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow) #C1C1C1;
    padding-top: var(--border-radius);
    padding-bottom: var(--border-radius);
    background-color: #ffffff;
    flex-direction: column;
    align-items: stretch;
    color: black;
}

.authPopup span {
    padding: 10px;
}

.authPopup button,
.authPopup a {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 0;
    text-align: center;
    font-family: var(--font-family);
}

.authPopup button:hover {
    background-color: #d1d1d1;
}

.profileImg:focus~.authPopup,
.authPopup:hover,
.authPopup:focus {
    display: flex;
}

.btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-primary);
    transition-property: box-shadow color background-color;
    transition-duration: .2s;
    padding: 10px 20px;
    font-family: 'Raleway';
    font-weight: 300;
}

.btn:hover {
    background-color: white;
    color: black;
    box-shadow: var(--shadow) #383838;
}