.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--color-primary);
}

.sidebarSection {
    display: flex;
    flex-direction: column;
}

.sidebar a {
    display: block;
    --bg-color: white;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 10px 20px;
    transition-property: background-color;
    transition-duration: var(--transition-duration);
}

.sidebar a:hover {
    background-color: #d1d1d1;
}

.sidebar a.active {
    --bg-color: var(--color-primary);
    color: var(--text-primary);
}

.sidebar a.active:hover {
    background-color: rgb(11, 122, 11);
}

.mobileSidebar {
    height: calc(100vh-env(titlebar-area-height, 48px));
    bottom: 0;
    top: env(titlebar-area-height, 48px);
}

.slideIn {
    animation: slideIn 0.2s forwards
}
.slideOut {
    animation: slideOut 0.2s forwards
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    100% {
        transform: translateX(-100%);
    }
}